<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                        http://www.springframework.org/schema/security
                        http://www.springframework.org/schema/security/spring-security-3.1.xsd">
    <http auto-config="true" use-expressions="true">
        <intercept-url pattern="/postQuestion" access="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')" requires-channel="https"/>
        <intercept-url pattern="/question/viewAndPost/*" access="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')" requires-channel="https"/>
        <intercept-url pattern="/adminDashboard" access="hasRole('ROLE_ADMIN')" requires-channel="https"/>
        <intercept-url pattern="/**" access="permitAll" requires-channel="https"/>

        <form-login login-page="/login"
                    login-processing-url="/j_spring_security_check"
                    default-target-url="/home"
                    authentication-failure-url="/errorLogin"/>

        <logout logout-success-url = "/logout" logout-url="/forum_logout" invalidate-session="false" delete-cookies="true"/>

        <access-denied-handler ref="errorHandlingFilter" />
        <port-mappings>
            <port-mapping http="8080" https="8443"/>
        </port-mappings>

        <anonymous />
    </http>


    <beans:bean id="errorHandlingFilter" class="com.forum.security.ErrorHandler" />

    <beans:bean id="userAuthProvider" class="com.forum.security.UserAuthenticationProvider"/>

    <beans:bean id="userService" class="com.forum.service.UserService"/>


    <authentication-manager>
        <authentication-provider ref="userAuthProvider"/>
    </authentication-manager>
</beans:beans>
