
#left
{
    float:left;
    width:50%;
    padding-left: 5%;
}

#right
{
    float:left;
    width:40%;
    position: relative;
    padding-top : 5%;
    padding-left: 5%;

}


#questionDescription
{

    border-style: solid;
    border-width: 1px;
    max-height:300px;
    max-width:300px;
    overflow: auto;
}




#status
{
    padding-top: 3em;
}

#replyTextarea
{
   resize: none;
}
