
#left
{
    float:left;
    width:50%;
    padding-left: 5%;
}

#right
{
    float:left;
    width:40%;
    position: relative;
    padding-top : 5%;
    padding-left: 5%;

}


#questionTitle
{

    word-wrap: break-word;
        overflow: auto;
        font-weight: bold;
        padding: 10px 3px 8px 5px;


}



#questionDescription
{
    word-wrap:break-word;
    border-style: solid;
    max-height:300px;
    max-width:300px;
    overflow: auto;
    padding: 5px 3px 2px 5px;
}

#response p
{
    padding: 5px 3px 2px 5px;
}


#status
{
    padding-top: 3em;
}

#replyTextarea
{
   resize: none;
}

.statsButtons{
    max-width: 100px;
    float: left;

}
