
#left
{
    float:left;
    width:65%;
    padding-left: 5%;
}

#right
{
    float:left;
    width:30%;
    position: relative;
    padding-top : 5%;
}


#questionDescription
{
    border-style: solid;
    border-width: 1px;
    max-height:300px;
    width: 70%;
    overflow: auto;
}




#status
{
    padding-top: 3em;
}

#replyTextarea
{
   resize: none;
}
